{{ define "main" }}
  {{ .Content }}

  <!-- Recent posts list -->
  <section class="home-posts time-list">
    <ul>
      {{ range first 5 (where .Site.RegularPages "Type" "posts") }}
      <li>
        <time datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time>
        <div>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </div>
      </li>
      {{ end }}
    </ul>

    <div class="load-more">
      <a href="/posts/" class="button">→</a>
    </div>
  </section>


<!-- Navigation (About / Now / etc.) -->
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    {{ partial "webring.html" . }}
  </div>

  {{ end }}